.upper {
    background-color:  #1F2937;
}


.header {
    background-color: #1F2937;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 50px;
    margin: 10px;
    
}
.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}
.header-links{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    display: flex;
    justify-content: center;
}

    a:link { text-decoration: none;
            color: #E5E7EB;}


    a:visited { text-decoration: none; }


    a:hover { text-decoration: none;
            color: red }


    a:active { text-decoration: none;
            color:blueviolet }

.introduction{
    background-color: #1F2937;
    display:flex;
    justify-content:space-between;
    align-items: center;

    padding: 50px;
    margin: 10px;
    gap: 40px;
}
.left.introduction{
    gap: 200px;
    align-self: space-between;
    margin-bottom: 50px;

}

.intro-one{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8

}
.intro-two{
    font-size: 18px;
    color: #E5E7EB;

}
.reg,.Sign-Up{
    color: white;
    background-color: rgba(104, 85, 224, 1);
    height: 25px;
    width: 100px;
    border-radius: 4px;
}
button:hover {
    color: white;
    width: 100px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}
.About{
    display:flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    gap: 75px;
    text-align: center;
}
.About-Text{
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937 ;
    align-self: center;
}
.About-Box{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;
}
.Play-button {
    object-fit: cover;
    border: 5px solid;
    border-color: #000000;
    padding: 15px;
    border-radius: 15px;

}
.h3{ 
    text-align: center;
    max-width:max-content;
}
   

.Services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 500px;
    gap: 20px;
}
.Services-Quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: center;
}
.Services-Author{
    font-size: 18px;
    font-style: Bold;
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
}
.Join{
    display: flex;
    justify-content: center;
    align-items: center;

}
.Join-border{
    
    background-color: #3882F6;
    width: 1200px;
    height: 50px;
    margin: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
 .Join-header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    align-self: flex-start;
 }
 .Join-body{
    font-size: 18px;
    color: #F9FAF8;
    align-self: flex-start;

 }
 .Credits {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px;
 }